.normal-white-space {
  white-space: normal;
}

.message-details {
  color: #BBBBBB;
}

.no-padding {
  padding: 0px;
}

.full-width {
  width: 100%;
}

.message-button-box {
  margin-left: 5px;
}

.center-text {
  text-align: center;
}

.clickable {
  cursor: pointer;
}
